[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.5.0"
arrow = "==1.1.1"
python-decouple = "==3.5"
pyTelegramBotAPI = "==4.1.1"

[dev-packages]

[requires]
python_version = "3.9"
